*.class

# Package Files #
*.jar
*.war
*.ear

# Python temp:
*.pyc
/experimental/Rope/Rope/nbproject/private/
/experimental/Rope/Cutlass/nbproject/private/
/production/Cutlass/nbproject/private/
/production/Cutlass/build/
/production/Cutlass/dist/